volumes:
  ainode-data:
    driver: local
    driver_opts:
      type: none
      device: /data/ainode
      o: bind

services:
  timechodb-ainode:
    image: nexus.infra.timecho.com:8243/timecho/timechodb:<version>-ainode
    container_name: timechodb-ainode
    network_mode: host
    environment:
      - cluster_name=defaultCluster
      - ain_seed_config_node=<timechodb-confignode>:10710
      - ain_rpc_address=<timechodb-ainode>
      - ain_rpc_port=10810
      - ain_cluster_ingress_address=<timechodb-datanode>
      - ain_cluster_ingress_port=6667
      - ain_cluster_ingress_username=root
      - ain_cluster_ingress_password=root
      - ain_cluster_ingress_time_zone=UTC+8
    volumes:
      - ainode-data:/ainode/data
      - ./logs/ainode:/ainode/logs
#      - ./lib/ainode:/ainode/lib  # Uncomment for rolling upgrade
    # Enable following configuration to occupy gpus
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              count: all # Use this line and comment 'device_ids' to use all GPUs
#              device_ids: ["0", "1"] # Use this line and comment 'count' to specify GPUs
#              capabilities: [gpu]
#    runtime: nvidia